<span>
    <span class="p-float-label">
        <p-calendar inputId="{{ property?.id }}" [(ngModel)]="value" (onSelect)="onChange($event)"
            [disabled]="property?.disabled" styleClass="w-full" [class.ng-invalid]="property?.invalid"
            [class.ng-valid]="!property?.invalid" [class.ng-dirty]="property?.invalid" [ngClass]="property?.classNames"
            [ngStyle]="property?.style" dateFormat="dd/mm/yy" [minDate]="property?.minDate"
            [maxDate]="property?.maxDate" [showWeek]="!property?.hideWeek" [readonlyInput]="true"
            [showIcon]="!(property?.hideIcon||property?.disabled)"></p-calendar>
        <label *ngIf="property?.label" for="{{ property?.id }}" [class.text-red-500]="property?.invalid"
            [class.font-bold]="property?.invalid">
            {{ property?.label
            }}<sup *ngIf="property?.required" class="text-red-500 font-bold">
                *</sup></label>
    </span>
    <small *ngIf="property?.invalid && property?.invalidMessage" id="{{ property?.id }}-help" class="text-red-500">{{
        property?.invalidMessage }}</small>
</span>