<div class="card flex flex-column">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <div class="text-2xl font-semibold vertical-align-middle">
                Patients List
            </div>
        </ng-template>

        <ng-template pTemplate="right">
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" [(ngModel)]="searchQuery" (input)="getPatients()"
                    placeholder="Search keyword" />
            </span>
        </ng-template>
    </p-toolbar>
    <div class="col-12 p-0">
        <app-common-table [value]="tableData.data" [columns]="tableData.columns" [totalRecords]="tableData.count"
            [loading]="isPatientTableLoading" (onPageChange)="getPatients($event)" showExportButtons="true"
            fileName="Patients">
        </app-common-table>
    </div>
</div>