<span>
    <span class="p-float-label">
        <textarea id="{{ property?.id }}" [(ngModel)]="value" (input)="onChange($event)" [rows]="property?.rows || 3"
            [cols]="property?.cols" maxlength="{{ property?.maxLength }}" [class.w-full]="true"
            [class.ng-invalid]="property?.invalid" [class.ng-valid]="!property?.invalid"
            [class.ng-dirty]="property?.invalid" [ngClass]="property?.classNames" [ngStyle]="property?.style"
            pInputTextarea [disabled]="property?.disabled"></textarea>
        <label *ngIf="property?.label" for="{{ property?.id }}" [class.text-red-500]="property?.invalid"
            [class.font-bold]="property?.invalid">
            {{ property?.label
            }}<sup *ngIf="property?.required" class="text-red-500 font-bold">
                *</sup></label>
    </span>
    <!-- <small *ngIf="property?.maxLength" id="{{ property?.id }}-remaining-characters" class="text-black-500">
        {{ showRemainingCharacters() }}
    </small> -->
    <small *ngIf="property?.invalid && property?.invalidMessage" id="{{ property?.id }}-help" class="text-red-500">{{
        property?.invalidMessage }}</small>
</span>