<span>
    <div class="p-inputgroup">
        <span *ngIf="property?.preAddonText" class="p-inputgroup-addon">{{property?.preAddonText}}</span>
        <span *ngIf="property?.preAddon" class="p-inputgroup-addon"><i class="pi {{property?.preAddon}}"></i></span>
        <span class="p-float-label">
            <input pInputText type="text" id="{{ property?.id }}" [class.w-full]="true"
                [class.ng-invalid]="property?.invalid" [class.ng-valid]="!property?.invalid"
                [class.ng-dirty]="property?.invalid" [ngClass]="property?.classNames" [ngStyle]="property?.style"
                maxlength="{{ property?.maxLength }}" [(ngModel)]="value" (input)="onChange($event)"
                (keydown)="onKeyPress($event)" [disabled]="property?.disabled" />
            <label *ngIf="property?.label" for="{{ property?.id }}" [class.text-red-500]="property?.invalid"
                [class.font-bold]="property?.invalid">
                {{ property?.label
                }}<sup *ngIf="property?.required" class="text-red-500 font-bold">
                    *</sup></label>
        </span>
        <span *ngIf="property?.postAddonText" class="p-inputgroup-addon">{{property?.postAddonText}}</span>
        <span *ngIf="property?.postAddon" class="p-inputgroup-addon"><i class="pi {{property?.postAddon}}"></i></span>
    </div>
    <small *ngIf="property?.invalid && property?.invalidMessage" id="{{ property?.id }}-help" class="text-red-500">{{
        property?.invalidMessage }}</small>
</span>