<p-table #dt [value]="value" [columns]="columns" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
    [rowHover]="true" [globalFilterFields]="globalFilterFields" [loading]="loading" fileName="fileName"
    [scrollable]="true" scrollHeight="flex">
    <ng-template pTemplate="header">
        <tr>
            <ng-container *ngFor="let column of columns">
                <ng-container [ngSwitch]="column.columnType">
                    <ng-container *ngSwitchCase="'Number'">
                        <th class="text-right">{{column.header}}</th>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Phone'">
                        <th class="text-right">{{column.header}}</th>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Action'">
                        <th class="text-center">{{column.header}}</th>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <th [class.text-center]="column.align === 'center'"
                            [class.text-right]="column.align === 'right'">{{column.header}}</th>
                    </ng-container>
                </ng-container>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <ng-container *ngFor="let column of columns">
                <ng-container [ngSwitch]="column.columnType">
                    <ng-container *ngSwitchCase="'Number'">
                        <td class="text-right">{{getCellData(rowData, column)}}</td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Phone'">
                        <td class="text-right">{{getCellData(rowData, column)}}</td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Action'">
                        <td class="flex justify-content-center gap-3">
                            <!-- <ng-container *ngIf="column.actions.includes('View')">
                                <p-button icon="pi pi-eye" styleClass="p-button-rounded p-button-text "
                                    (click)="onViewClick(rowData)"></p-button>
                            </ng-container>
                            <ng-container *ngIf="column.actions.includes('Edit')">
                                <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-text "
                                    (click)="onEditClick(rowData)"></p-button>
                            </ng-container> -->
                            <ng-container *ngFor="let action of column.actions">
                                <p-button icon="{{action.icon}}" styleClass="p-button-rounded p-button-text "
                                    (click)="onActionClick($event,rowData,action.label)"></p-button>
                            </ng-container>
                        </td>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <td [class.text-center]="column.align === 'center'"
                            [class.text-right]="column.align === 'right'">{{getCellData(rowData, column)}}</td>
                    </ng-container>
                </ng-container>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        No data available to show
    </ng-template>
</p-table>
<div class="flex align-items-center justify-content-between" *ngIf="value.length > 0">
    <div class="col-auto p-0 flex gap-2">
        <ng-container *ngIf="showExportButtons">
            <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV"
                tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
            <!-- <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>             -->

        </ng-container>
    </div>
    <div class="col p-0 flex align-items-center justify-content-end">
        <span class="mx-1 text-color">Items per page: </span>
        <p-dropdown [options]="[10,25,50]" [(ngModel)]="rows" (onChange)="onRowChangeEvent()"></p-dropdown>
        <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords"
            (onPageChange)="onPageChangeEvent($event)" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showPageLinks]="false"
            [showFirstLastIcon]="false"></p-paginator>
    </div>
</div>