<div class="card flex flex-column">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <div class="text-2xl font-semibold vertical-align-middle">
                Doctors
            </div>
        </ng-template>

        <ng-template pTemplate="right">
            <p-button label="Add Doctor" styleClass="p-button-raised" (click)="addPhysician()"></p-button>
        </ng-template>
    </p-toolbar>
    <div class="col-12 p-0">
        <app-common-table [value]="tableData.data" [columns]="tableData.columns" [totalRecords]="tableData.count"
            (onPageChange)="getPhysician($event)" showExportButtons="true" fileName="Physician"
            (onAction)="onActionClick($event)">
        </app-common-table>
    </div>
</div>
<!-- <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog> -->