<div>
    <div class="flex justify-content-between pb-5">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" [(ngModel)]="searchQuery" (input)="getPatients()"
                placeholder="Search keyword" />
        </span>
        <p-button label="Add" styleClass="p-button-raised" (click)="addPatient()"></p-button>
    </div>
    <div class="min-w-60rem">
        <app-common-table [value]="tableData.data" [columns]="tableData.columns" [totalRecords]="tableData.count"
            [loading]="isPatientTableLoading" (onPageChange)="getPatients($event)" showExportButtons="true"
            (onAction)="onAction($event)"
            fileName="Patients">
        </app-common-table>
    </div>
    <div></div>
</div>