<div class="card">
    <p-tabView>
        <p-tabPanel header="Appointment" leftIcon="pi pi-at">
            <app-appointment-form [patientInfoModel]="patientInfoModel"></app-appointment-form>
        </p-tabPanel>
        <p-tabPanel header="Personal Info" leftIcon="pi pi-info-circle">
            <p-accordion [activeIndex]="0" [multiple]="false">
                <p-accordionTab header="Personal Information" contentStyleClass="flex flex-wrap">
                    <div *ngFor="let field of patientPersonalInformationFields" class="field col-12 md:col-6 py-2">
                        <app-common-input [property]="field" [(value)]="patientInfoModel[field.id]"></app-common-input>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Contact Information" contentStyleClass="flex flex-wrap">
                    <div class="field col-12 py-2">
                        <app-common-input [property]="patientAddressField"
                            [(value)]="patientInfoModel[patientAddressField.id]"></app-common-input>
                    </div>
                    <div *ngFor="let field of patientContactInformationFields" class="field col-12 md:col-6 py-2">
                        <app-common-input [property]="field" [(value)]="patientInfoModel[field.id]"></app-common-input>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </p-tabPanel>
        <p-tabPanel header="History" leftIcon="pi pi-history">
            <app-common-table [value]="HistoryTable.data" [columns]="HistoryTable.columns"
                [totalRecords]="HistoryTable.count" [loading]="isHistoryTableLoading"
                (onPageChange)="getHistory($event)" (onAction)="onActionHistory($event)">
            </app-common-table>
        </p-tabPanel>
        <p-tabPanel header="Prescription" leftIcon="pi pi-paperclip">
            <p-table [value]="products" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:20%">S no</th>
                        <th style="width:20%">Name</th>
                        <th style="width:20%">Dose</th>
                        <th style="width:20%">Time</th>
                        <th style="width:20%"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="product">
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="product.code">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{product.code}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="product.name" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{product.name}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="statuses" appendTo="body" [(ngModel)]="product.inventoryStatus"
                                        [style]="{'width':'100%'}"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{product.inventoryStatus}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="product.price">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{product.price | currency: 'USD'}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <div class="flex align-items-center justify-content-center gap-2">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                    (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                    (click)="onRowEditSave(product)"
                                    class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                    (click)="onRowEditCancel(product, ri)"
                                    class="p-button-rounded p-button-text p-button-danger"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Readings" leftIcon="pi pi-chart-bar">
           
        </p-tabPanel>
    </p-tabView>
    
</div>
<!-- <div class="flex">
    <div class="card flex-grow-1 mr-5 overflow-auto mb-0" style="height: calc(100vh - 10rem);">
        <div>
            <div>
                <p-accordion [activeIndex]="0">
                    <p-accordionTab header="Personal Information" contentStyleClass="flex flex-wrap">
                        <div *ngFor="let field of patientPersonalInformationFields" class="field col-12 md:col-6 py-2">
                            <app-common-input [property]="field"
                                [(value)]="patientInfoModel[field.id]"></app-common-input>
                        </div>
                    </p-accordionTab>
                    <p-accordionTab header="Contact Information" contentStyleClass="flex flex-wrap">
                        <div class="field col-12 py-2">
                            <app-common-input [property]="patientAddressField"
                                [(value)]="patientInfoModel[patientAddressField.id]"></app-common-input>
                        </div>
                        <div *ngFor="let field of patientContactInformationFields" class="field col-12 md:col-6 py-2">
                            <app-common-input [property]="field"
                                [(value)]="patientInfoModel[field.id]"></app-common-input>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
        <div id="history">
            <div class="my-4 font-semibold ">
                History
            </div>
            <app-common-table [value]="HistoryTable.data" [columns]="HistoryTable.columns"
                [totalRecords]="HistoryTable.count" [loading]="isHistoryTableLoading"
                (onPageChange)="getHistory($event)">
            </app-common-table>
        </div>
        <div></div>
        <div></div>

    </div>
    <div class="card flex-none ">
        <div class="flex flex-column" style="height: 70vh;">
            <div (click)="router.navigate({fragment: 'history'})"
                class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-1 p-5">
                Personal Info</div>
            <div (click)="router.navigate({fragment: 'history'})"
                class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-1 p-5">
                History</div>
            <div
                class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-1 p-5">
                Readings </div>
            <div
                class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-1 p-5">
                Doctors Notes</div>
            <div class="flex m-1 justify-content-between py-2">
                <button type="button" pButton pRipple icon="pi pi-print" class="p-button-success" pTooltip="Print"
                    tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file" class="p-button-secondary" pTooltip="CSV"
                    tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-excel" class="p-button-info" pTooltip="XLS"
                    tooltipPosition="bottom"></button>
            </div>
        </div>
    </div>
</div> -->