<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <div class="text-2xl font-semibold vertical-align-middle">
            Staff Info
        </div>
    </ng-template>

</p-toolbar>
<div class="card">
    <app-common-text-view [viewData]="staffInfo"></app-common-text-view>
    <div class="flex justify-content-between">
        <button pButton pRipple type="button" label="Back" (click)="back()"
        class="p-button-outlined p-button-raised p-button-danger" icon="pi pi-arrow-left" iconPos="left"></button>
        <p-button (click)="resetPassword()" icon="pi pi-info-circle" label="Reset Password"></p-button>
    </div>

</div>